/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #f4b400;
}

/* HERO */

.hero {
    height: 75vh;
    background: url("https://images.unsplash.com/photo-1445205170230-053b83016050?q=80&w=1600") center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.hero-content h1 {
    font-size: 64px;
}

.hero-content p {
    margin: 20px 0;
    font-size: 22px;
}

.hero button {
    padding: 14px 28px;
    border: none;
    background: #f4b400;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.hero button:hover {
    background: #d89c00;
}

/* PRODUCTS */

.products {
    padding: 80px;
    text-align: center;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.product {
    border-radius: 12px;
    overflow: hidden;
    transition: 0.4s;
    background: white;
}

.product img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: 0.4s;
}

.product:hover img {
    transform: scale(1.08);
}

.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.product h3 {
    margin: 15px 0 5px;
}

.price {
    color: #f4b400;
    font-size: 20px;
    margin-bottom: 10px;
}

.product button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.product button:hover {
    background: #333;
}

/* BANNER */

.banner {
    height: 250px;
    background: url("https://images.unsplash.com/photo-1483985988355-763728e1935b?w=1600") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
}

/* FOOTER */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 30px;
}

/* RESPONSIVE */

@media(max-width: 900px){

    header{
        padding:20px;
    }

    .hero{
        padding:40px;
        height:60vh;
    }

    .hero-content h1{
        font-size:42px;
    }

    .products{
        padding:40px;
    }
}
